:root { 
--gray_600:#848383; 
--gray_50_01:#fafbfd; 
--gray_400:#cac1c1; 
--blue_gray_100:#d9d9d9; 
--gray_500:#acacac; 
--indigo_50:#e2e8ee; 
--gray_800:#4c4848; 
--blue_gray_600:#545f70; 
--blue_gray_100_01:#cbcaca; 
--gray_200:#e8e8e8; 
--black_900_3f:#0000003f; 
--orange_300:#e9b741; 
--gray_50:#f6f7fc; 
--gray_100:#f8f5f5; 
--light_green_900:#247117; 
--gray_600_f8:#858484f8; 
--black_900:#000000; 
--gray_100_01:#f7f5f5; 
--blue_gray_900:#2e2e2e; 
--white_A700:#ffffff; 
}